.pokemon_description{
    text-align: left;
    font-size: 18px;
    text-transform: capitalize;
}
.pokemon_card_row{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px 
}
.pokemon_card_col{
    margin-top: 10px;
    margin-bottom: 10px;
 
        max-width: 19%;
    
}

.pokemon-container{
padding: 10px 0px 10px 0px;
}
